<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        div{
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>login</h1>
    <form action="/user/forgetpassword" method="POST">
        <div>
            <label for="email">Email :</label>
            <input type="text" name="email" placeholder="Email">
        </div>
            <button type="submit">Reset password</button>
            <a href="/login"> <button type="button">login</button></a>
            <a href="/signup"> <button type="button">signup</button></a>
        </div>
    </form>
    <% if (locals.error) { %>
        <div class="error">
            <%= error %> <!-- Display the error message -->
        </div>
    <% } %>
    
</body>
</html>