<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        div{
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <form action="/user/resetpassword" method="POST" >
        <input type="hidden" name="authToken" value="<%= authToken %>">
        <div>
            <label for="name">New Password :</label>
            <input type="text" name="newPassword" placeholder="Password">
        </div>
        <div>
            <label for="name">Confirm Password </label>
            <input type="text" name="confirmPassword" placeholder="Password">
        </div>
        <div>            
            <button type="submit">reset</button>
        </div>
    </form>
    <% if (locals.error) { %>
        <div class="error">
            <%= error %> <!-- Display the error message -->
        </div>
    <% } %>
    
</body>
</html>